header
    background: url(../imagenesRestaurante/restaurante.jpg)
    background-size: cover
    background-position-y: 25%
    background-repeat: no-repeat
    .contenedor_logo_menu
        padding: 25px 0
        .logo
            a
                display: block
                img
                    vertical-align: top
    
    .textos
        background-color: rgba(255, 255, 255, 0.5)
        color: black
        position: right
        line-height: 50px
        
    